@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
.CartLink .myCart .cartLogo {
  width: 20px;
}
.CartLink .myCart {
  display: flex;
  color: black;
}
.CartLink a {
  text-decoration: none;
}