@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
.ProductList {
  display: flex;
  flex-wrap: wrap;
}
.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 0.5px rgb(101, 101, 101) solid;
  margin: 5px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.2s linear;
  justify-content: space-between;
}
.ProductList .Product:hover {
  filter: brightness(1.1);
}
@media (max-width: 768px) {
  .ProductList {
    justify-content: center;
  }
}
.ProductList .Product:hover {
  box-shadow: -1px 1px 11px 3px rgba(53, 37, 1, 0.3);
  transition: 150ms ease all;
}
.ProductList .Product a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.ProductList .Product span {
  color: rgb(126, 126, 126);
  font-weight: 600;
  font-size: 25px;
  font-family: "Dongle", sans-serif;
}

.ProductList .Product img {
  max-width: 100%;
  border-bottom: 1px rgba(0, 0, 0, 0.34) solid;
  height: 200px;
}

.ProductList .product-picture {
  width: 200px;
}
.ProductList .product-picture p {
  padding: 0 10px;
}
.ProductList .product-price {
  padding: 0 10px 10px 10px;
}