.OrderList a {
  text-decoration: none;
  color: black;
}
.OrderList .Main-Order {
  display: flex;
}
.OrderList .Order-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 11px;
  border-bottom: 2px solid black;
}
.OrderList .Order-content .Order-box-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.OrderList .Order-content .Order-box-1 p {
  margin: 0 0 10px 0;
}
.OrderList .Order .Order-content .Order-box-3 {
  display: flex;
  width: 100%
}
.OrderList .Order img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: 0.1px solid black;
}
.OrderList .order-p {
  margin-bottom: 10px;
}