.Home {
  margin: 50px 0;
  background: url("/src/image/fon.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

.Home::after {
  content: "All the best for you";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #bcbcbc;
  white-space: nowrap; /* Добавлено */
}

.Home::before {
  content: "at low prices";
  position: absolute;
  top: 210px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 500;
  color: #bcbcbc;
  white-space: nowrap; /* Добавлено */
}

@media (max-width: 800px) {
  .Home::after {
    font-size: 30px; /* Уменьшен размер шрифта */
  }
  .Home::before {
    font-size: 12px; /* Уменьшен размер шрифта */
  }
}

@media (max-width: 670px) {
  .Home::after {
    font-size: 20px; /* Дальнейшее уменьшение размера шрифта */
  }
  .Home::before {
    font-size: 10px; /* Дальнейшее уменьшение размера шрифта */
  }
}
