@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
  background: #fff;
  color: #222;
  margin: 0;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Product img {
  width: 200px;
  float: left;
}
.Product .AddToCart-product {
  width: 200px;
}
.Product .product_img {
  margin: 0 20PX 10PX 0;
}

footer{
  background-color: #bcbcbc;
}

.AddToCart button {
  width: 100%;
  background-color: rgb(168 87 56);
  color: white;
  cursor: pointer;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 10px;
  padding: 10px;
}
.AddToCart button:active {
  background-color: rgba(168, 88, 56, 0.842)  ;
}
